/* Header styles */
.header {
  display: flex;
  align-items: center; /* Centers items vertically within the header */
  justify-content: center; /* Centers items horizontally within the header */
  height: 100px; /* Sets the height of the header */
  background: linear-gradient(to right, #b2a6a6, #9b8f8f); /* Gradient background for the header */
  color: #0e0e0e; /* Text color for items within the header */
  font-family: Verdana, Geneva, Tahoma, sans-serif; /* Font styling for the header */
  text-align: center; /* Ensures text within the header is centered */
  box-shadow: 0 4px 6px rgba(0,0,0,0.1); /* Adds a subtle shadow below the header */
}

.header-title {
  font-size: 24px; /* Size of the title text within the header */
  font-weight: bold; /* Makes the title text bold */
  margin: 0; /* Removes the default margin around the title */
}

/* Styles for the main body background */
body {
  margin: 0; /* Removes default margin */
  padding: 0; /* Removes default padding */
  background-image: url('../img/image.png'); /* Background image for the entire page */
  background-repeat: no-repeat; /* Prevents the background image from repeating */
  background-position: center; /* Centers the background image */
  background-size: auto; /* Keeps the original size of the background image */
  position: relative; /* Establishes a positioning context for child elements */
}

/* Main layout container */
.layout {
  display: flex; /* Uses flexbox for layout */
  justify-content: space-between; /* Distributes space between child elements */
  padding: 20px; /* Padding inside the layout container */
  position: relative; /* Establishes a positioning context for child elements */
}

/* Styling for the left and right sections of the layout */
.layout-left, .layout-right {
  flex: 1; /* Each section takes equal width */
  padding: 20px; /* Padding inside each section */
  margin: 10px; /* Margin around each section */
  position: relative; /* Establishes a positioning context for child elements */
  z-index: 1; /* Ensures content is above the pseudo-elements */
}

/* Number card container */
.number-card {
  position: relative; 
  display: grid; /* Uses grid layout */
  height: 60%; /* Height relative to its container */
  grid-template-columns: repeat(5,1fr); /* Creates 5 equal columns */
  gap: 5px; /* Space between grid items */
  padding: 20px; /* Padding inside the number card */
  background: linear-gradient(to right, #b2a6a6, #9b8f8f); /* Gradient background */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow around the card */
  margin: 10px; /* Margin around the card */
  max-width: 800px; /* Maximum width of the card */
}

/* Individual number squares */
.number {
  width: 90px; /* Width of each number square */
  height: 50px; /* Height of each number square */
  display: flex; /* Uses flexbox for centering content */
  justify-content: center; /* Centers content horizontally */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  align-items: center; /* Centers content vertically */
  background: linear-gradient(to right, #89a0b8, #768aa0); /* Gradient background for each number */
  border-radius: 1px; /* Slight rounding of corners */
  cursor: pointer; /* Changes cursor to pointer on hover */
  transition: transform 0.3s, background-color 0.3s; /* Smooth transition for hover effects */
}

/* Hover effect for number squares */
.number:hover {
  transform: scale(1.1); /* Slightly enlarges the square on hover */
  background: linear-gradient(to right, #5e5d5d, #989792); /* Changes background on hover */
}

/* Selected number styling */
.number.selected {
  border: 2px solid rgb(250, 0, 0); /* Red border to indicate selection */
}

/* Random selection icon */
.random-button {
  position: absolute; /* Positions the icon absolutely within the number card */
  bottom: 10px; /* Distance from the bottom of the card */
  right: 10px; /* Distance from the right of the card */
  cursor: pointer; /* Changes cursor to pointer on hover */
  color: #0f0e0e; /* Icon color */
  transition: transform 0.3s; /* Smooth scale transition on hover */
  font-size: 48px; /* Size of the icon */
}

/* Hover effect for the random icon */
.random-button:hover {
  transform: scale(1.1); /* Slightly enlarges the icon on hover */
  color: #5e5d5d; /* Changes icon color on hover */
}

/* Money card container */
.money-card {
  display: grid; /* Uses grid layout for money buttons */
  grid-template-columns: repeat(2, 1fr); /* Creates 2 columns for buttons */
  gap: 10px; /* Space between buttons */
  padding: 20px; /* Padding inside the money card */
  justify-content: auto; /* Auto alignment of content */
  align-items: auto; /* Auto alignment of items */
  max-width: 180px; /* Max width of the money card */
  background: linear-gradient(to right, #b2a6a6, #9b8f8f); /* Gradient background */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  margin: 10px 300px; /* Margin for positioning, adjust as needed */
}

/* Individual money buttons */
.money-button {
  width: 70px; /* Diameter for round buttons */
  height: 70px; /* Diameter for round buttons */
  border-radius: 50%; /* Makes the button round */
  border: none; /* Removes default border */
  background: linear-gradient(to right, #89a0b8, #768aa0); /* Gradient background */
  color: rgb(2, 2, 2); /* Text color */
  font-weight: bold; /* Bold text */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  cursor: pointer; /* Changes cursor to pointer on hover */
  transition: background-color 0.3s, transform 0.3s; /* Smooth transitions for hover effects */
}

/* Styling for disabled money buttons */
.money-button:disabled {
  cursor: not-allowed; /* Changes cursor to indicate the button is disabled */
  opacity: 0.5; /* Reduces opacity to indicate the button is not active */
}

/* Hover effect for enabled money buttons */
.money-button:not(:disabled):hover {
  background-color: #5f79a8; /* Darker shade on hover */
  transform: scale(1.1); /* Slightly enlarges the button on hover */
  background: linear-gradient(to right, #5e5d5d, #989792); /* Changes background gradient on hover */
}

/* Main display component container */
.display-component {
  display: flex; /* Uses flexbox for layout */
  flex-direction: column; /* Stacks children vertically */
  justify-content: space-between; /* Distributes space between children */
  padding: 20px; /* Padding inside the display component */
  background: linear-gradient(to right, #b2a6a6, #9b8f8f); /* Gradient background */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Subtle shadow */
  margin: 10px; /* Margin around the component */
  height: 100%; /* Full height */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Sections within the display component for numbers, amount, etc. */
.numbers-display, .amount-display {
  flex: 1; /* Each section takes equal space */
  padding: 10px; /* Padding inside each section */
  border-bottom: 1px solid #121111; /* Border between sections */
}

/* Removes border from the last item (amount display) */
.amount-display {
  border-bottom: none;
}

/* Container for the amount and clear icon */
.icon-on-side {
  display: flex; /* Uses flexbox to align items inline */
  align-items: center; /* Aligns items vertically */
}

/* Container for action buttons like Cash and Clear */
.display-buttons {
  display: flex; /* Uses flexbox to align buttons */
  justify-content: flex-end; /* Aligns buttons to the right */
  padding-top: 10px; /* Space above the buttons */
}

/* Styling for Cash and Clear buttons */
.cash-button, .clear-button {
  padding: 10px 20px; /* Padding inside the buttons */
  margin-left: 10px; /* Space between buttons */
  border: none; /* Removes default border */
  border-radius: 4px; /* Rounded corners for buttons */
  cursor: pointer; /* Changes cursor to pointer on hover */
  font-weight: bold; /* Bold text */
}

/* Cash button specific styling */
.cash-button {
  background: linear-gradient(to right, #aac193, #90a27d); /* Gradient background */
  color: white; /* Text color */
}

/* Clear All button specific styling */
.clear-button {
  cursor: pointer;
  background: linear-gradient(to right, #2d2d2d, #716f6f); /* Gradient background */
  color: #e0e0e0; /* Text color */
}

/* Styling for the clear icon (used for clearing amount) */
.clear-icon {
  cursor: pointer; /* Changes cursor to pointer on hover */
  color: #000000; /* Icon color */
  margin-left: 10px; /* Space to the left of the icon */
}

/* Styling for list items in the numbers display section */
ul {
  list-style-type: none; /* Removes default list styling */
  padding: 0; /* Removes default padding */
}

/* Individual list items in the numbers display section */
li {
  margin: 5px 0; /* Space between list items */
}
