/* Header.css */
.header {
  display: flex;
  align-items: center; /* Vertically centers the content */
  justify-content: center; /* Horizontally centers the content */
  height: 100px;
  background: linear-gradient(to right, #b2a6a6, #9b8f8f); /* Example gradient - adjust colors as needed */
  color: #0e0e0e; /* Ensures text color is white for better contrast */
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  text-align: center; /* Aligns the text to the center */
  box-shadow: 0 4px 6px rgba(0,0,0,0.1); /* Adds a subtle shadow to the header */
}

.header-title {
  font-size: 24px; /* Adjust size as needed */
  font-weight: bold;
  margin: 0; /* Removes default margin from h1 */
  
}
body{
  /* Add this to your global CSS file, such as index.css or App.css */

  margin: 0;
  padding: 0;
  background-image: url('../img/image.png'); /* Update the relative path as necessary */
  background-repeat: no-repeat;
  background-position: center;
  background-size:auto;
  position: relative;
}

.layout {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  position: relative;
}


.layout-left, .layout-right {
  flex: 1;
  padding: 20px;
 
  margin: 10px;
  position: relative;
  z-index: 1; /* Ensure the content sits above the pseudo-element */
}
/* NumberCard.css */
.number-card {
  position: relative; 
  display: grid;
  height: 60%;
  grid-template-columns: repeat(5,1fr); /* 5-column grid */
  gap: 5px; /* Space between grid items */
  padding: 20px; /* Padding around the grid */
  background: linear-gradient(to right, #b2a6a6, #9b8f8f);
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 10px;
  max-width: 800px; /* Adjust the max-width to fit the grid and button */
}

.number {
  width: 90px; /* Adjust based on your preference */
  height: 50px; /* Adjust based on your preference */
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #89a0b8, #768aa0);
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 1px;
  cursor: pointer;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  transition: transform 0.3s, background-color 0.3s;
}

.number:hover {
  transform: scale(1.1); /* Zoom effect on hover */
  background: linear-gradient(to right, #5e5d5d, #989792);/* Darker on hover for feedback */
}
.number.selected {
  border: 2px solid rgb(250, 0, 0); /* Border to indicate selection */
}

.random-button {
  position: absolute; /* Position the icon absolutely within .number-card */
  bottom: 10px; /* Adjust the distance from the bottom */
  right: 10px;
    cursor: pointer;
  color: #0f0e0e; /* Icon color */
  transition: transform 0.3s; /* Smooth transformation on hover */
  /* Adjust size as needed */
  font-size: 48px; /* Example size, adjust as needed */
}

.random-button:hover {
  transform: scale(1.1); /* Zoom effect on hover */
  color: #5e5d5d; /* Icon color change on hover */
}


.money-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2-column grid */
  gap: 10px; /* Space between buttons */
  padding: 20px;
  justify-content: auto;
  align-items: auto;
  max-width: 180px; /* Adjust width as needed */
  background: linear-gradient(to right, #b2a6a6, #9b8f8f);
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 10px 300px; /* Center the card */
}

.money-button {
  width: 70px; /* Diameter of the round button */
  height: 70px; /* Diameter of the round button */
  border-radius: 50%; /* Make the button round */
  border: none;
  background: linear-gradient(to right, #89a0b8, #768aa0);
  color: rgb(2, 2, 2);
  font-weight: bold;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s; /* Transition effects */
}
.money-button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
.money-button:not(:disabled):hover {
  background-color: #5f79a8; /* Darker shade on hover for enabled buttons */
  transform: scale(1.1); /* Slight zoom effect for enabled buttons */
  background: linear-gradient(to right, #5e5d5d, #989792);/* Gradient for enabled buttons */
}

/* DisplayComponent.css */
.display-component {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  background: linear-gradient(to right, #b2a6a6, #9b8f8f);
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  margin: 10px;
  height: 100%;
}

.numbers-display, .amount-display {
  flex: 1;
  padding: 10px;
  border-bottom: 1px solid #121111;
  font-family:Verdana, Geneva, Tahoma, sans-serif; /* Only for numbers-display */
}

.amount-display {
 
  border-bottom: none; /* No border for the last item */

}

.icon-on-side {
  display: flex;
  align-items: center;
}


.display-buttons {
  display: flex;
  justify-content: flex-end;
  padding-top: 10px;
}

.cash-button, .clear-button {
  padding: 10px 20px;
  margin-left: 10px; /* Spacing between buttons */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.cash-button {
  background: linear-gradient(to right, #aac193, #90a27d); /* Green color for cash button */
  color: white;
}

/* Clear All button */
.clear-button {
  cursor: pointer;
  background: linear-gradient(to right, #2d2d2d, #716f6f);
  color: #e0e0e0;
  
  /* Add more styles as needed (size, etc.) */
}

/* Amount Clear button */
.clear-icon {
  cursor: pointer;
  color: #000000;
  margin-left: 10px;
 
}

/* Additional styling for list of numbers and total amount */
ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 5px 0;
}
